*{
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1{
    text-align: center;
    color: red;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
}
div{
    height: 200px;
    width: 400px;
    background-color: gray;
    border: 5px solid black;
    padding: 6px;
    margin-right: 105px;
    float: left;
}
.first{
    background-color: pink;
    height: auto;
    width: 77px;
    padding: 8px;
    position: relative;
    left: 322px;
    bottom: 28px;
    border: 5px solid black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.second{
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: relative;
    bottom: 25px;
}